[defaults]
host_key_checking = False
[ssh_connection]
control_path=%(directory)s/%%C
ssh_common_args=-o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no -o ControlMaster=auto -o ControlPersist=60s
